﻿@model IEnumerable<KPMG.Models.Employee>

@{
    ViewBag.Title = "KPMG Employees";
}

<h2>Employees</h2>

<button id="filterButton" type="button" class="btn btn-default" onclick="showFilters()">Show filters</button>
<section id="filters" style="display: none">
    <article class="col-sm-4">
        <label>Search name: </label>
        <input type="text" id="nameFilter" class="form-control"/>
        <label>Hired after: </label>
        <input type="date" id="hireDateFilter" class="form-control"/>
    </article>
    <article class="col-sm-4">
        <label>Department: </label>
        @Html.DropDownList("departmentsList", new SelectList(ViewBag.departmentsList.Items), "Any", new {@class = "form-control"})
        <label>Grade: </label>
        @Html.DropDownList("gradesList", new SelectList(ViewBag.gradesList.Items), "Any", new {@class = "form-control"})
    </article>
    <article class="col-sm-4">
        <label>Performance Manager: </label>
        @Html.DropDownList("perfManList", new SelectList(ViewBag.perfManList.Items), "Any", new {@class = "form-control"})
    </article>   
</section>
<p>
    <div id="contentSection">
        @Html.Partial("Filter");
    </div>
</p>