﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kamil Koziel<br />
    Krakow, Poland<br />   
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:kl.koziel@gmail.com">kl.koziel[at]gmail.com</a><br />
</address>