/*!
 * jQuery UI Autocomplete 1.11.4
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/autocomplete/#theming
 */
.ui-autocomplete {
	position: absolute;
    display: inline-block;
	top: 0;
	left: 0;
	cursor: default;
    background-color: white;
    border: solid;
    list-style-type: none;
    padding: 10px;
    
}
